/* ----------------- */
/* homepage        */
/* ----------------- */
.grid-container--home {
    padding-bottom: max(7rem, 18vh);
    align-items: end;
  }


/* travel button */
.large-button {
    position: relative;
    display: inline-grid;
    z-index: 1;
    place-items: center;
    padding: 0 2em;
    aspect-ratio: 1;
    border-radius: 50%;
    text-decoration: none;
    font-size: 1.9rem;
}

.large-button::after {
    content: '';
    position: absolute;
    z-index: -1;
    background: hsl( var(--clr-white) / .15);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.large-button:hover::after, .large-button:focus::after{
    opacity: 1;
    transform: scale(1.5);
}

/* @media (max-width: 48em) {
.align-right {
    justify-self: right;
}
.grid-container--home {
    padding-bottom: max(5rem, 15vh);
    align-items: end;
    min-height: 150vh;
  }
} */