.grid-container--travel {
    line-height: 2;
    min-height: 95vh;
    padding-top: 1rem;
    padding-bottom: 5em;
}
.container-map {
    padding-inline: 0;
    display: flex;
    justify-content: center;
}

#map {
    height: 13rem;
    width: 15rem;
}

/* #map {
height: 36rem;
width: 64rem;
margin: 3rem 0 12em 0;
}

@media (max-width: 73rem) {
    #map {
        height: 32rem;
        width: 54rem;
    }
}

@media (max-width: 62rem) {
    #map {
        height: 26rem;
        width: 40rem;
    }
}

@media (max-width: 48rem) {
    #map {
        height: 22rem;
        width: 34rem;
    }
}

@media (max-width: 40rem) {
    #map {
        width: 29rem;
    }
}

@media (max-width: 35rem) {
    #map {
        height: 16rem;
        width: 24rem;
    }
    .sm-travel-text{
        font-size: 1.5rem;
    }
    .travel-text{
        font-size: 2.5rem;
    }
    

}

@media (max-width: 31rem) {
    #map {
        width: 20rem;
    }

}

@media (max-width: 28rem) {
    #map {
        height: 13rem;
        width: 15rem;
    }
} */