/* tabs container */
.tabs-container {
    padding-inline: .5rem;
    margin-top: 1.5rem;
    border-radius: 4rem;
    background:hsl( var(--clr-light) / .2);
}

/* tabs for days and states */
.t-list{
    padding-inline: 0rem;
}
.tabs {
    display: inline-block;
    border-bottom: .1rem solid hsl( var(--clr-light) / .5);
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    outline: none;
}
.react-tabs__tab-list {
    border-bottom: 1px solid #aaa;
    margin: 0 0 10px;
    padding: 0;
}
.react-tabs__tab--selected {
    background: hsl( var(--clr-white));
    border-color: #aaa;
    color: hsl( var(--clr-dark));
    border-radius: 1rem 1rem 0 0;
}
.react-tabs__tab-panel--selected {
    display: block;
}

/* tab content */
.img-container {
    transform: rotate(3deg);
}
.panel-title {
    font-weight: bold;
    position: relative;
    bottom: 3rem;
}
.lg-panel-title {
    letter-spacing: .4px;
}
.tab-img {
    width: 15.4rem;
    margin-inline: auto;
    margin-top: 1.75rem;
    border: 1.25rem solid white;
    border-bottom: 4.25rem solid white;
    box-shadow: 1rem 1rem 1.5rem hsl( var(--clr-dark));
}
.para {
    padding: 0 1rem 1.5rem 1rem;
}