/* tabs containers */
.container-visit {
    padding-bottom: 2.5rem;
}
.tabs-container {
    /* background-color: hsl( var(--clr-dark) / .5); */
    padding: 1rem;
    border-radius: 4rem;
}

/* tabs for days and states */
.t-list{
    padding-inline: 0rem;
}
.tabs {
    display: inline-block;
    border-bottom: .1rem solid hsl( var(--clr-light) / .5);
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    outline: none;
}
.react-tabs__tab-list {
    border-bottom: 1px solid #aaa;
    margin: 0 0 10px;
    padding: 0;
}
.react-tabs__tab--selected {
    background: hsl( var(--clr-white));
    border-color: #aaa;
    color: hsl( var(--clr-dark));
    border-radius: 1rem 1rem 0 0;
}
.react-tabs__tab-panel--selected {
    display: block;
}

/* tab content */
.panel-title {
    padding-top: 1rem;
}
.tab-img {
    width: 30rem;
    margin-inline: auto;
    padding: 2rem;
}
.para {
    padding: 0 1rem 1.5rem 1rem;
}