/* Navbar */

.primary-navigation{
    --underline-gap: 2rem;
    padding: 0;
    margin: 0;
    background: hsl( var(--clr-dark)/ .7);
}

.primary-navigation ul {
    list-style: none;
}

.menu-icon {
    display: none;
 }

@supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
        background-color: hsl( var(--clr-white)/ .05);
        backdrop-filter: blur(1.5rem);
    }
}

@media (max-width: 35rem) {
.primary-navigation.mobile{
    --underline-gap: .5rem;
    position: fixed;
    z-index: 200;
    inset: 0 0 0 30%;
    list-style: none;
    padding: min(20rem, 15vh) 1rem;
    margin: 0;
    flex-direction: column;
    transition: all 0.3s ease-in;
    }

.menu-icon{
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 300;
    background: transparent;
    border: 0;
    margin: 0;
    /* overflow: hidden; */
}
.menu-icon svg {
    color:hsl( var(--clr-white));
    width: 2.5rem;
    height: 2.5rem
}


.primary-navigation ul {
    display: none;
}

.primary-navigation.mobile ul {
    display: block;
}

.primary-navigation.underline-indicators > .active {
    border: 0;
}

}

.primary-navigation li a {
    text-decoration: none;
}



