/* Navbar */
.primary-navigation {
    --underline-gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media (max-width: 35rem) {
.menu-icon {
    display: block !important;
}
.primary-navigation.mobile ul{
    --underline-gap: .5rem;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    background: grey;
    list-style: none;
    padding: min(20rem, 10vh) 2rem;
    margin: 0;
    flex-direction: column;
    transition: all 0.3s ease-in;
}

.primary-navigation.underline-indicators > .active {
    border: 0;
}
}

.primary-navigation a {
    text-decoration: none;
}

.menu-icon {
   display: none;
}

